html, 
body, 
.carousel, 
.carousel-item,
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.carousel-caption {
    top: 30%;
    bottom: auto;
    font-size: 2em;
    text-shadow: 2px 2px #000000;
}
