<% include ../partials/header %>
<h1>sign up</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="avatar" placeholder="avatar url">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="email" name="email" placeholder="Email Address">    
    <button>Submit!</button>
</form>
<% include ../partials/footer %>